body {
    font-family: Arial, Helvetica, sans-serif;
}

#map {
    width: 100%;
    height: 500px; 
}

div.item .label, div.item .value {
    color: #000;
    font-size: 14px;
    border: none;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

#modal {
    background-color: white;
    animation-name: progress;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    height: 4px;
    margin-top: -4px;
}

@keyframes progress {
    0% {
        background-color: white;
    }
    50% {
        background-color:rgba(255, 0, 0, 0.500);
    }
    100% {
        background-color: white;
    }
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
}

.attr {
    width: 33%;
    float: left;
    font-size: medium;
    padding-right: 10px;
}

.prop {
    font-weight: bold;
    margin-right: 10px;
    overflow-wrap: break-word;
}

.prop::after {
    content: ':';
}

.val {
    margin-right: 10px;
    overflow-wrap: break-word;
}

#sidebar {
    overflow: auto;
}

#sidebar .row {
    margin-right: 0px;
    margin-left: 0px;
}

.GPKG {
color: #083c6c;
background-color: #e8f2f4;
}

.ESRI.REST {
color: #278400;
background-color: #d8eeca;
}

.EXCEL {
color: #f90;
background-color: #f9f4d4;
}

.HTML {
color: #FF0000;
background-color: #FFCCCC;
}

.ab, .bc, .mb, .ns, .nl, .qc, .on, .nu, .yt, .nt, .sk, .pe, .nb, .rgn { display:none; }
